{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_buy_container %}
    {{ parent() }}
    
    {% if page.product %}
        <div class="product-detail-additional-tab-link">
            <a href="javascript:void(0);"
               class="product-detail-tab-navigation-link"
               onclick="(function() {
                   const tabButton = document.querySelector('#zusatz-tab-{{ page.product.id }}');
                   const tabContent = document.querySelector('#zusatz-tab-{{ page.product.id }}-pane');
                   if (tabButton && tabContent) {
                       tabButton.click();
                       setTimeout(() => {
                           const offset = tabContent.getBoundingClientRect().top + window.pageYOffset - 100;
                           window.scrollTo({top: offset, behavior: 'smooth'});
                       }, 150);
                   }
               })();">
                {{ config('AdditionalProductTab.config.tabTitle') }}
            </a>
        </div>
    {% endif %}
{% endblock %}
