{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_buy_container %}
    {{ parent() }}
    
    {% if page.product %}
        <div class="product-detail-additional-tab-link">
            <a href="javascript:void(0);"
               class="product-detail-tab-navigation-link"
               onclick="document.querySelector('#zusatz-tab-{{ page.product.id }}').click(); setTimeout(() => document.querySelector('#zusatz-tab-{{ page.product.id }}-pane').scrollIntoView(), 50);">
                {{ config('AdditionalProductTab.config.tabTitle') }}
            </a>
        </div>
    {% endif %}
{% endblock %}
