<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Tab Einstellungen</title>
        <title lang="en-GB">Tab Settings</title>

        <input-field type="text">
            <name>tabTitle</name>
            <label>Tab Titel</label>
            <label lang="en-GB">Tab Title</label>
            <defaultValue>Zusatztab</defaultValue>
        </input-field>

        <input-field type="text">
            <name>customFieldName</name>
            <label>Technischer Name des Zusatzfeldes</label>
            <label lang="en-GB">Technical name of custom field</label>
            <helpText>Geben Sie den technischen Namen des Zusatzfeldes ein (z.B. custom_field_name)</helpText>
            <helpText lang="en-GB">Enter the technical name of the custom field (e.g. custom_field_name)</helpText>
            <defaultValue></defaultValue>
        </input-field>
    </card>
</config>
